<footer>
  <div>
    <p id="name">송효준</p>
    <p id="name2">宋曉浚</p>
    <p>2003년 2월 28일생</p>
    <p>남자</p>
  </div>

  <div id="info">
    <p>서울특별시 용산구 청파로 71길 55</p>
    <p>숭실대학교 글로벌미디어학부 재학</p>
    <p>010-2300-2175</p>
    <p>hyojun23001@naver.com | thdgywns2300@gmail.com</p>
    <p><a href="https://github.com/SongHyojun0228/Project_1.git">Github</a></p>
  </div>
</footer>
