<header id="main-header">
  <div id="logo"><a href="/">MyCloset</a></div>
  <nav>
    <ul>
      <li class="nav-item">
        <a href="/addclothes">AddClothes</a>
      </li>
      <li class="nav-item">
        <a href="/wishclothes">WishClothing</a>
      </li>
      <li class="nav-item">
        <a href="/brand">Brand</a>
      </li>
      <li class="nav-item">
        <a href="/haul">Haul</a>
      </li>
      <li class="nav-item">
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
  <button id="drawer-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
