<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('includes/head') %>
    <link rel="stylesheet" href="/styles/brand.css">
</head>
<body>
    <%-include('includes/header') %>

    <main>
        <div id="grid-container">
            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://artifacts.co.kr" target="_blank">
                        <img src="/images/brand/artifact.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://artifacts.co.kr" target="_blank" class="link-text">Art if acts</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://outstanding-co.kr/" target="_blank">
                        <img src="/images/brand/outstanding.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://outstanding-co.kr/" target="_blank" class="link-text">OUTSTANDING</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://m.frizm.co.kr/" target="_blank">
                        <img src="/images/brand/frizmworks.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://m.frizm.co.kr/" target="_blank" class="link-text">FrizmWorks</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.espionage.co.kr/" target="_blank">
                        <img src="/images/brand/espionage.jpeg" alt="IMG">
                    </a>
                </div>
                <a href="https://www.espionage.co.kr/" target="_blank" class="link-text">ESPIONAGE</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.espionage.co.kr/shop/shopbrand ?xcode=102&type=X&gf_ref=Yz1jTXhvSW8=v" target="_blank">
                        <img src="/images/brand/bronson.jpg" alt="IMG">
                    </a>
                </div>
                <a href="https://www.espionage.co.kr/shop/shopbrand ?xcode=102&type=X&gf_ref=Yz1jTXhvSW8=" target="_blank" class="link-text">BRONSON</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://uniformbridge.com/" target="_blank">
                        <img src="/images/brand/uniformbridge.png" alt="IMG">
                    </a>
                </div>
                <a href="https://uniformbridge.com/" target="_blank" class="link-text">UNIFORMBRIDGE</a>
            </div>
            
            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://shop.supreme.com/collections/all" target="_blank">
                        <img src="/images/brand/supreme.webp" alt="IMG">
                    </a>
                </div>
                <a href="https://shop.supreme.com/collections/all" target="_blank" class="link-text">Supreme</a>
            </div>

            <div class="grid-item">
                <div class="grid-item-img">
                    <a href="https://www.nike.com/kr?utm_source=Google&utm_medium=PS&utm_campaign=365DIGITAL_Google_SA_Keyword_Main_PC&cp=72646825390_search_&gad_source=1&gclid=Cj0KCQiA57G5BhDUARIsACgCYny4LyR_o-0g_wAFPAWjq_gJk0l3XSxJ-GDPFJTk-wvRt7QMKmew_6gaAlpQEALw_wcB" target="_blank">
                        <img src="/images/brand/nike.png" alt="IMG">
                    </a>
                </div>
                <a href="https://www.nike.com/kr?utm_source=Google&utm_medium=PS&utm_campaign=365DIGITAL_Google_SA_Keyword_Main_PC&cp=72646825390_search_&gad_source=1&gclid=Cj0KCQiA57G5BhDUARIsACgCYny4LyR_o-0g_wAFPAWjq_gJk0l3XSxJ-GDPFJTk-wvRt7QMKmew_6gaAlpQEALw_wcB" target="_blank" class="link-text">Nike</a>
            </div>
        </div>
    </main>

    <%-include('includes/footer') %>
</body>
</html>